* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-section {
    margin-top: 50px;
}

.calculator { 
    width: 400px;
    height: 600px;
    border-radius: 10px;
    border-style: solid;
}

.header {
    height: 10vh;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    background-color: rgb(60, 158, 233, 0.5);
    border-radius: 10px;
    color: black;
    font-family: "Arvo";
    font-weight: 500;
}

.result > input {
    height: 10vh;
    margin: 10px 0;
    background-color: transparent;
    text-align: right;
    border: 0;
    font-size: 30px;
}

.main-div1 {
    height: 53vh;
    margin-right: 5px;
    justify-content: center;
}

.main-div2 {
    height: 53vh;
    margin-left: 5px;
    justify-content: center;
}

button {
    height: 50px;
    width: 60px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

button:hover {
    box-shadow: 0px 0px 10px #0de3ff;
}

.div1, .div2, .div3, .div4 {
    text-align: center;
}

.div1, .div3 {
    margin-right: 10px;
}

.div2, .div4 {
    margin-left: 10px;
}

.div4 {
    margin-right: 5px;
}

#number0 {
    width: 140px;
}

#equal {
    height: 130px;
    background-color: rgb(60, 158, 233, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    max-height: 35px;
}